{% extends 'base.html' %}
{% block content %}
  <h2>Управление Типами Мероприятий</h2>
  <form method="post">
    <label for="new_type">Новый тип мероприятия:</label>
    <input type="text" name="new_type" id="new_type">
    <button type="submit">Добавить</button>
  </form>
  <h3>Существующие типы:</h3>
  <ul>
    {% for et in event_types %}
      <li>
        {{ et.name }}
        <form method="post" style="display:inline;">
          <input type="hidden" name="delete_id" value="{{ et.id }}">
          <button type="submit" onclick="return confirm('Удалить тип {{ et.name }}?');">Удалить</button>
        </form>
      </li>
    {% endfor %}
  </ul>
{% endblock %}


{% block scripts %}
    <script src="{{ url_for('static', filename='notifications.js') }}"></script>
{% endblock %}
