{% extends 'base.html' %}
{% block content %}
<div class="auth-container">
  <h2>Введите код из письма</h2>
  <form method="post">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for cat,msg in messages %}
          <div class="flash-{{ cat }}">{{ msg }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div>
      <label for="code">Код:</label>
      <input type="text" name="code" id="code" required>
    </div>
    <div class="button-row">
      <button type="submit">Продолжить</button>
    </div>
  </form>
</div>
{% endblock %}
