{% extends 'base.html' %}
{% block content %}
<div class="auth-container">
  <h2>Сброс пароля</h2>
  <form method="post">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for cat,msg in messages %}
          <div class="flash-{{ cat }}">{{ msg }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div>
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required>
    </div>
    <div class="button-row">
      <button type="submit">Отправить код</button>
    </div>
  </form>
</div>
{% endblock %}
